<main style="height: 90vh !important">
    <nav class="navbar p-0 navbar-expand-lg navbar-light ">
        <a class="navbar-brand col-2 m-0" href="#">
            <img src="assets/logo.jpeg" width="100" height="60" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link p-0" href="#"><i class="fas fa-arrow-left"></i>< HOME</a>
                </li>
            </ul>
            <div>


                <ul class="navbar-nav d-flex gap-3 p-2">
                    <button class="btn  my-2 my-sm-0 blue-btn" type="button">Login Time</button>
                    <li class="nav-item">
                        <span style="font-size: 40px;" class="nav-item d-flex justify-content-center align-items-center rounded-circle material-symbols-outlined">
                            account_circle
                            </span>
                    </li>
                    <button style="height: 40px;width: 40px;" class="nav-item rounded-circle blue-btn ">
                  A
                                </button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row w-100 " style="background-color: #faf9ff">
        <div class="col-2 ">


            <div class="d-flex flex-column vh-100 sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Personnel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Contracts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Customer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Vendor
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span class="material-symbols-outlined me-2 ">
                            radio_button_checked
                            </span>Regulator
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-symbols-outlined me-2 ">
radio_button_checked
</span> Scope
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-symbols-outlined me-2 ">
radio_button_checked
</span> Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-symbols-outlined me-2 ">
radio_button_checked
</span> Dashboard
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class=" col-10  p-3 d-flex justify-content-center">

            <div class=" w-100 ">
                <div class="row ">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <a class="me-3 text-decoration-none text-dark d-flex justify-content-center align-items-center" href="#"><span class="material-symbols-outlined">
                              home
                              </span> QMS</a>
                            <a class="text-decoration-none text-dark active" href="#">APPROVAL</a>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class=" d-flex gap-2 mt-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn px-3 py-2  btn-success ">LINE</button>
                            <button type="button" disabled class="btn px-3 py-2 btn-secondary">BASE</button>
                            <button type="button" disabled class="btn px-3 py-2 btn-secondary">SHOP</button>
                        </div>
                    </div>

                </div>
                <div class="p-2 border border-2" style="background-color: #f1fffa;border-color: aquamarine !important;">

                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="fleet">Fleet</label>
                                <select id="fleet" class="form-control">
      <option>A320-212</option>
      <option>A320-212N</option>
    </select>
                            </div>
                            <div class="col-md-4">
                                <label for="station">Station</label>
                                <select id="station" class="form-control">
      <option>HYD</option>
      <option>BLR</option>
    </select>
                            </div>
                            <div class="col-md-4">
                                <label for="regulator">Regulator</label>
                                <select id="regulator" class="form-control">
      <option>DGCA</option>
    </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label for="task">Task</label>
                                <input id="task" type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label for="frequency1">Frequency</label>
                                <input id="frequency1" type="number" class="form-control" value="12000" />
                            </div>
                            <div class="col-md-2">
                                <label for="frequency2">Frequency</label>
                                <input id="frequency2" type="number" class="form-control" value="10000" />
                            </div>
                            <div class="col-md-2">
                                <label for="frequency3">Frequency</label>
                                <input id="frequency3" type="number" class="form-control" value="24" />
                            </div>
                            <div class="col-md-2">
                                <label for="tcs">TCS</label>
                                <div class="form-check form-switch">
                                    <input id="tcs" type="checkbox" class="form-check-input" checked />
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label>Auditee</label>
                                <p>Ashley Robinson</p>
                            </div>
                            <div class="col-md-4">
                                <label for="date">Date</label>
                                <input id="date" type="date" class="form-control" value="2021-02-09" />
                            </div>
                            <div class="col-md-4">
                                <label>Status</label>
                                <button type="button" class="btn btn-primary">Accept</button>
                            </div>
                        </div>
                    </form>

                    <div class="row mt-3">
                        <div class="col">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.n</th>
                                        <th>Task</th>
                                        <th>Type</th>
                                        <th>Desc</th>
                                        <th>FQY</th>
                                        <th>Spare</th>
                                        <th>Qty</th>
                                        <th>Tool</th>
                                        <th>MH</th>
                                        <th>Attachment</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="#">32-05-07-400-A</a></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-link p-0">
            <i class="bi bi-paperclip"></i>
          </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-link p-0">
            <i class="bi bi-trash"></i>
          </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="remarks">Remarks</label>
                        <textarea id="remarks" class="form-control"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>