<main style="height: 90vh !important">
    <nav class="navbar p-0 navbar-expand-lg navbar-light ">
        <a class="navbar-brand col-2 m-0" href="#">
            <img src="assets/logo.jpeg" width="100" height="60" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link p-0" href="#"><i class="fas fa-arrow-left"></i>< HOME</a>
                </li>
            </ul>
            <div>


                <ul class="navbar-nav d-flex gap-3 p-2">
                    <button class="btn  my-2 my-sm-0 blue-btn" type="button">Login Time</button>
                    <li class="nav-item">
                        <span style="font-size: 40px;" class="nav-item d-flex justify-content-center align-items-center rounded-circle material-symbols-outlined">
                            account_circle
                            </span>
                    </li>
                    <button style="height: 40px;width: 40px;" class="nav-item rounded-circle blue-btn ">
                  A
                                </button>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row w-100 align-items-start" style="background-color: #faf9ff">
        <div class="col-2 ">


            <div class="d-flex flex-column vh-100 sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Personnel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Contracts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Customer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="me-2 material-symbols-outlined">
task_alt
</span> Vendor
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span class="material-symbols-outlined me-2 ">
                            radio_button_checked
                            </span>Regulator
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-symbols-outlined me-2 ">
radio_button_checked
</span> Scope
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-symbols-outlined me-2 ">
radio_button_checked
</span> Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="material-symbols-outlined me-2 ">
radio_button_checked
</span> Dashboard
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class=" col-10  p-3 d-flex justify-content-center">

            <div class=" w-100 ">
                <div class="row ">
                    <div class="col">
                        <div class="d-flex gap-4 align-items-center">
                            <a class="me-3 text-decoration-none text-dark d-flex justify-content-center align-items-center" href="#"><span class="material-symbols-outlined">
                              home
                              </span> QMS</a>
                            <a class="text-decoration-none text-dark active" href="#">APPROVAL</a>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class=" d-flex gap-2 mt-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn px-3 py-2  btn-success ">LINE</button>
                            <button type="button" disabled class="btn px-3 py-2 btn-secondary">BASE</button>
                            <button type="button" disabled class="btn px-3 py-2 btn-secondary">SHOP</button>
                        </div>
                    </div>

                </div>
                <!-- app.component.html -->
                <div class="container" style="background-color: #f1fffa; border: 2px solid aquamarine;">
                    <div class="  row mb-3" *ngIf="createsection">
                        <section class=" col-6 d-flex gap-3">

                            <mat-form-field class="custom-select " style="width: 245px !important; height: 65px;">

                                <mat-select placeholder="FLEET" multiple floatlLabel="never" [(ngModel)]="selectedFleets" (selectionChange)="onFleetChange()">
                                    <mat-select-trigger>FLEET</mat-select-trigger>
                                    <mat-option *ngFor="let fleet of fleets" [value]="fleet">{{fleet}}</mat-option>
                                </mat-select>

                            </mat-form-field>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked w-100" aria-label="Selected Fleets">
                                <mat-chip-option class="" style="width: fit-content;" *ngFor="let fleet of selectedFleets" [value]="fleet" selected>{{fleet}}</mat-chip-option>
                            </mat-chip-listbox>
                        </section>
                        <section class=" col-6 d-flex gap-3">

                            <mat-form-field style="width: 245px !important; height: 65px;">
                                <mat-select placeholder="REGULATOR" multiple floatlLabel="never" [(ngModel)]="selectedRegulators">
                                    <mat-select-trigger>REGULATOR</mat-select-trigger>

                                    <mat-option *ngFor="let regulator of filteredRegulators" [value]="regulator">{{regulator}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked w-100 " aria-label="Selected Fleets">
                                <mat-chip-option style="width: fit-content;" *ngFor="let Redulator of selectedRegulators" [value]="Redulator" selected>{{Redulator}}</mat-chip-option>
                            </mat-chip-listbox>
                        </section>
                        <section class=" col-6 d-flex gap-3">


                            <mat-form-field style="width: 245px !important; height: 65px;">

                                <mat-select placeholder="STATION" multiple floatlLabel="never" [(ngModel)]="selectedStations" (selectionChange)="onStationChange()">
                                    <mat-select-trigger>STATION</mat-select-trigger>
                                    <mat-option *ngFor="let station of filteredStations" [value]="station">{{station}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked w-100" aria-label="Selected Fleets">
                                <mat-chip-option style="width: fit-content;" *ngFor="let station of selectedStations" [value]="station" selected>{{station}}</mat-chip-option>
                            </mat-chip-listbox>
                        </section>
                        <section class=" col-6 d-flex gap-3">
                            <mat-form-field style="width: 245px !important; height: 65px;">

                                <mat-select placeholder="TASK" multiple floatlLabel="never" [(ngModel)]="selectedTasks">
                                    <mat-select-trigger>TASK</mat-select-trigger>
                                    <mat-option *ngFor="let station of filteredTasks" [value]="station">{{station}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-chip-listbox class="mat-mdc-chip-set-stacked w-100" aria-label="Selected Fleets">
                                <mat-chip-option style="width: fit-content;" *ngFor="let station of selectedTasks" [value]="station" selected>{{station}}</mat-chip-option>
                            </mat-chip-listbox>


                        </section>
                        <div class="row">



                            <div class="frequency   col-6 d-flex gap-3">
                                <div class="frequency-input col-3">

                                    <input matInput type="number" placeholder="Frequency" [(ngModel)]="frequencyValue" class="frequency-field">
                                    <button (click)=" frequencyValue =frequencyValue+ 1;" mat-icon-button color="primary" class="add-button d-flex justify-content-center align-items-center">
                                  <span style="font-size: 20px;">+</span></button>
                                </div>
                                <div class="frequency-input col-3">

                                    <input matInput type="number" placeholder="Frequency" [(ngModel)]="frequencyValue2" class="frequency-field">
                                    <button (click)=" frequencyValue2 =frequencyValue2+ 1;" mat-icon-button color="primary" class="add-button d-flex justify-content-center align-items-center">
                                  <span style="font-size: 20px;">+</span></button>
                                </div>
                                <div class="frequency-input col-3">

                                    <input matInput type="number" placeholder="Frequency" [(ngModel)]="frequencyValue3" class="frequency-field">
                                    <button (click)=" frequencyValue3 =frequencyValue3+ 1;" mat-icon-button color="primary" class="add-button d-flex justify-content-center align-items-center">
                                  <span style="font-size: 20px;">+</span></button>
                                </div>
                            </div>
                            <div class="col-3 ms-3">


                                <mat-slide-toggle color="primary">TCS</mat-slide-toggle>
                            </div>
                            <div class="col-1">

                                <button mat-raised-button color="primary" (click)="generate()">Generate</button>
                            </div>
                        </div>
                    </div>

                    <div class="details-section" *ngIf="!createsection">
                        <div class="row">
                            <div class="col">
                                <label>FLEET:</label>
                                <span>{{ selectedFleets.join(', ') }}</span>
                            </div>
                            <div class="col">
                                <label>REGULATOR:</label>
                                <span>{{ selectedRegulators.join(', ') }}</span>
                            </div>
                            <div class="col">
                                <label>ID:</label>
                                <span>PL-A320-2024-01</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>STATION:</label>
                                <span>{{ selectedStations.join(', ') }}</span>
                            </div>
                            <div class="col">
                                <label>TASK:</label>
                                <span>{{ selectedTasks.join(', ') }}</span>
                            </div>
                            <div class="col">
                                <label>FREQUENCY:</label>
                                <span>{{ frequencyValue }}FH, {{ frequencyValue2 }}FC, {{ frequencyValue3 }}M</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Remarks:-</label>
                            </div>
                        </div>
                    </div>

                    <div class="actions">
                        <button class="icon-btn" (click)="toggleTcsAvl()">
                            <mat-icon>{{ tcsAvl ? 'visibility' : 'visibility_off' }}</mat-icon>

                            TCS AVL</button>
                        <button class="icon-btn" (click)="toggleTcsNAvl()">
                            <mat-icon>{{ tcsNAvl ? 'visibility' : 'visibility_off' }}</mat-icon>
                            TCS N.AVL</button>
                        <button class="icon-btn" (click)="toggleMh()">
                            <mat-icon>{{ mh ? 'visibility' : 'visibility_off' }}</mat-icon>
                            MH</button>

                        <span class="auditee icon-btn">Auditee: Ashley Robinson</span>
                        <div class="date-accept">
                            <div class="date-picker">
                                <mat-icon>event</mat-icon> 09 Feb 2021
                            </div>
                            <button mat-raised-button color="primary">Accept</button>
                        </div>
                        <div class="process-po">
                            <mat-slide-toggle>Process PO</mat-slide-toggle>
                        </div>

                    </div>

                    <div class="container">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? selectAllRows() : null" [checked]="isAllSelected()"></mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleSelection(element) : null" [checked]="selection.isSelected(element)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- S.n Column -->
                            <ng-container matColumnDef="sno">
                                <th mat-header-cell *matHeaderCellDef> S.n </th>
                                <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                            </ng-container>

                            <!-- TASK Column -->
                            <ng-container matColumnDef="task">
                                <th mat-header-cell *matHeaderCellDef> TASK </th>
                                <td mat-cell *matCellDef="let element">
                                    <a href="#">{{element.task}}</a>
                                </td>
                            </ng-container>

                            <!-- TYPE Column -->
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> TYPE </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>

                            <!-- DESC Column -->
                            <ng-container matColumnDef="desc">
                                <th mat-header-cell *matHeaderCellDef> DESC </th>
                                <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
                            </ng-container>

                            <!-- FQY Column -->
                            <ng-container matColumnDef="fqy">
                                <th mat-header-cell *matHeaderCellDef> FQY </th>
                                <td mat-cell *matCellDef="let element"> {{element.fqy}} </td>
                            </ng-container>

                            <!-- SPARE Column -->
                            <ng-container matColumnDef="spare">
                                <th mat-header-cell *matHeaderCellDef> SPARE </th>
                                <td mat-cell *matCellDef="let element"> {{element.spare}} </td>
                            </ng-container>

                            <!-- QTY Column -->
                            <ng-container matColumnDef="qty">
                                <th mat-header-cell *matHeaderCellDef> QTY </th>
                                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                            </ng-container>

                            <!-- TOOL Column -->
                            <ng-container matColumnDef="tool">
                                <th mat-header-cell *matHeaderCellDef> TOOL </th>
                                <td mat-cell *matCellDef="let element"> {{element.tool}} </td>
                            </ng-container>

                            <!-- MH Column -->
                            <ng-container matColumnDef="mh">
                                <th mat-header-cell *matHeaderCellDef> MH </th>
                                <td mat-cell *matCellDef="let element"> {{element.mh}} </td>
                            </ng-container>

                            <!-- Attachment Column -->
                            <ng-container matColumnDef="attachment">
                                <th mat-header-cell *matHeaderCellDef> Attachment </th>
                                <td mat-cell *matCellDef="let element">

                                    <input type="file" (change)="uploadFile($event, element)" hidden #fileInput>
                                    <button mat-button (click)="fileInput.click()"> <mat-icon>upload</mat-icon></button>
                                </td>
                            </ng-container>

                            <!-- REMARKS Column -->
                            <ng-container matColumnDef="remarks">
                                <th mat-header-cell *matHeaderCellDef> REMARKS </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-icon (click)="editAttachment(element)">edit</mat-icon>
                                    <mat-icon (click)="deleteRow(element)">delete</mat-icon>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                </div>

                <div class="w-100 mt-3 row">
                    <div class="col-6">

                        <textarea rows="6" id="remarks" placeholder="Auditee Remarks" class="form-control w-100" [(ngModel)]="remarks"></textarea>
                    </div>
                    <div class="col-6 d-flex gap-3">
                        <button class="remarkbtn" (click)="save()">SAVE</button>
                        <button class="remarkbtn" (click)="submit()">SUBMIT</button>
                        <button class="remarkbtn" (click)="approve()">APPROVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>