.sidebar {
    padding: 15px;
    height: 88vh !important;
}

.nav-link {
    color: #6c757d;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.blue-btn {
    color: white;
    background-color: #040450;
}

.nav-link.active {
    color: #4c4cff;
    font-weight: bold;
    border-left: 3px solid #4c4cff;
}

.nav-link .fas {
    margin-right: 10px;
}

.nav-link.active .fas {
    color: #4c4cff;
}

.container {
    // background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

form .row {
    margin-bottom: 10px;
}

.table {
    margin-top: 20px;
}

.btn-link {
    text-decoration: none;
    color: #000;
}

.btn-link .bi {
    font-size: 1.2rem;
}

.d-flex .align-items-center a {
    font-size: 18px;
}

.d-flex .align-items-center a:hover {
    color: #4c4cff;
    font-weight: bold;
}

.text-dark {
    color: #4c4cff !important;
}

.text-dark.active {
    color: #4c4cff !important;
    font-weight: bold;
    border-bottom: 3px solid #4c4cff;
}

.btn-group .btn {
    font-size: 18px;
    padding: 10px 20px;
}

.btn-group .btn.active {
    background-color: #4c4cff;
    border-color: #4c4cff;
}

.btn-group .btn-outline-secondary {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #6c757d;
}

.container {
    padding: 1rem;
}

.filters,
.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.filters mat-form-field,
.actions mat-form-field {
    flex: 1;
    min-width: 150px;
}

.frequency {
    display: flex;
    align-items: center;
}

.frequency mat-form-field {
    flex: none;
}

.actions {
    align-items: center;
}

table {
    width: 100%;
    margin-top: 1rem;
}


/* app.component.css */

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1fffa;
    padding: 10px;
    border: 2px solid aquamarine;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.col {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.col mat-icon {
    margin-right: 5px;
    color: green;
}

.col span {
    margin-right: 10px;
}

.col button {
    margin-left: 10px;
}

.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    background-color: #ffffff;
    border: 1px solid aquamarine;
    border-radius: 12px;
}

.mdc-line-ripple::before {
    border: none;
    border-bottom-width: 0px !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
    background-color: #ffffff !important;
    border: 1px solid wheat !important;
}

.mat-mdc-chip-action-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
    color: #f5a512 !important;
    margin: 0;
    padding: 0;
}

.frequency-input {
    display: flex;
    align-items: center;
    background-color: #e0ffff;
    /* Light cyan background */
    border: 1px solid #00ced1;
    /* Dark cyan border */
    border-radius: 25px;
    padding: 5px;
    width: 140px;
}

.frequency-input .remove-button {
    background-color: #f0f0f0;
    /* Light gray background for remove button */
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.frequency-input .frequency-field {
    border: none;
    outline: none;
    text-align: center;
    font-size: 12px;
    flex: 1;
    width: 70px !important;
    margin: 0 5px;
}

.frequency-input .add-button {
    background-color: #8a2be2;
    /* Blue violet background for add button */
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.hidden-option {
    display: none;
}

.actions {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.mat-icon-button {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.auditee {
    margin-right: auto;
    font-weight: bold;
}

.date-accept {
    display: flex;
    align-items: center;
}

.date-picker {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.date-picker mat-icon {
    margin-right: 5px;
}

.process-po {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icon-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tablecontainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    margin-bottom: 20px;
}

button {
    align-self: flex-end;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background,
.mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox:hover .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox:hover .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: #3f51b5 !important;
    background-color: #0d6efd !important;
}

.remarkbtn {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #00ced1;
    cursor: pointer;
    background-color: #f1fffa;
    font-weight: bold;
}

.details-section {
    background-color: #ffffff;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    margin-right: 10px;
}

label {
    font-weight: bold;
}

span {
    margin-left: 5px;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 0;
    padding-top: 9px !important;
}

.toolbar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ccc;
}

.toolbar .material-icons {
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
    color: #333;
}

.toolbar input[type="text"],
.toolbar select {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 0 5px;
    background-color: #fff;
    color: #333;
}

.toolbar input[type="text"] {
    width: 50px;
    text-align: center;
}

.toolbar select {
    width: 60px;
}

.toolbar input[type="text"][placeholder="Search"] {
    width: 80px;
}